.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.directory

### IntelliJ IDEA ###
out/
.idea
*.iws
*.iml
*.ipr


### Maven ###
*/target/*
/target
